<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="description" content="Wabomba Bakar Portfolio Website">
    <meta name="keyword" content="agency, africa, bakar, Best practices, business, corporate, creative, CSS, design, east africa, freelancer, Git, uganda,  minimal, modern, personal, portfolio, Preprocessors, responsive,  simple, wabomba, web developer, web designer">
    <!-- Website name -->
    <title>Wabomba Bakar</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/ico/favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="/img/ico/favicon.ico"><![endif]-->
    <link rel="apple-touch-icon-precomposed" href="/img/ico/apple-touch-icon-precomposed.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Normalize -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <!-- Animate -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive -->
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body id="index-page">
{{>_errors}}
{{>_msg}}
{{{body}}}

</body>
 <!-- Jquery -->
    <script src="/js/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- scrollreveal js -->
    <script src="/js/scrollreveal.js"></script>
    <!-- Isotope js -->
    <script src="/js/isotope.pkgd.min.js"></script>
    <!-- wow.js -->
    <script src="/js/wow.min.js"></script>
    <!-- Main js -->
    <script src="/js/main.js"></script>
</body>

</html>