<!-- Preloader -->
<div class="Baker-preloader"></div>
<!-- Header Start -->
<header id="header">
    <nav class="navbar-default le-navbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button id="menu-nav-btn" type="button" class="mobile-menu-btn navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span></span>
                </button>
                <a class="logo" href="#header">
                    <img src="/img/logo/logo.svg" alt="logo">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="nav-btn" href="#header">home</a>
                    </li>
                    <li>
                        <a class="nav-btn" href="#services">service</a>
                    </li>
                    <li>
                        <a class="nav-btn" href="#portfolio">portfolio</a>
                    </li>
                    <li>
                        <a class="nav-btn" href="#about">about</a>
                    </li>
                    <li>
                        <a class="nav-btn" href="#contact">contact</a>
                    </li>
                    <li class="dropdown">
                        <ul class="dropdown-menu">
                            <li>
                                <a class="nav-btn" href="#">single work</a>
                            </li>
                            <li>
                                <a class="nav-btn" href="portfolio.html">portfolio</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- container end -->
    </nav>
    <!-- navbar end -->
    <div class="hero-area">
        <div class="container">
            <div class="row">
                <div class="hero-title col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h1 class="wow slideInLeft" data-wow-duration="1s">I'm Bakar,
                        <br> UI Designer & Web Developer.</h1>
                    <p class="wow slideInLeft" data-wow-duration="1.5s">Who loves to develop perfect solutions with agile methodologies, clean code and cutting edge technologies.
                        </p>
                    <div class="btn-style wow slideInLeft" data-wow-duration="2s">
                        <a href="#contact">Contact Me Now</a>
                    </div>
                </div>
                <div class="hero-img col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <img class="img-responsive wow slideInRight" data-wow-duration="1s" src="/img/hero-illustration1.svg" alt="illustration">

                    <img class="img-responsive wow slideInRight" data-wow-duration="2s" src="/img/bakar2.png">
                    <img class="img-responsive wow slideInRight" data-wow-duration="1.5s" src="/img/hero-illustration2.svg" alt="illustration">
                </div>
            </div>
            <!-- row-end -->
        </div>
        <!-- container-end -->
    </div>
    <!-- hero-area end -->
</header>
<!-- Header End -->
<!-- Services Start -->
<div id="services">
    <div class="container">
        <div class="row">
            <div class="title text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                <h2>My Services</h2>
                <p>I offer a range of design and development services as indicated below. </p>
            </div>
        </div>
        <!-- row-end -->
        <div class="row">
            <div class="service-illustration col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <img class="img-responsive wow slideInLeft" data-wow-duration="1s" src="/img/bakar2.png">
            </div>
            <div class="service-offers col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="offer wow fadeIn" data-wow-delay="0.1s">
                    <img class="img-responsive" src="/img/service-icons/service-icon-1.svg" alt="illustration">
                    <h3> Web Design</h3>
                    <p>Using Photoshop & semantic HTML5, CSS3 & JavaScript following the BEM principle. </p>
                </div>
                <div class="offer wow fadeIn" data-wow-delay="0.1s">
                    <img class="img-responsive" src="/img/service-icons/service-icon-2.svg" alt="illustration">
                    <h3>Web Development</h3>
                    <p>Build secure, scalable and maintainable web applications using Nodejs, Express and MongoDB</p>
                </div>
                <div class="offer wow fadeIn" data-wow-delay="0.1s">
                    <img class="img-responsive" src="/img/service-icons/service-icon-3.svg" alt="illustration">
                    <h3>Graphics Design</h3>
                    <p>Besides web design & development, I also offer print design services</p>
                </div>
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container-end -->
    <!-- Stats start -->
    <div id="stats">
        <div class="container">
            <div class="row">



            </div>
            <!-- row end -->
        </div>
        <!-- container end -->
    </div>
    <!-- stats end-end -->
</div>
<!-- Services End -->
<!-- Portoflio Start -->
<div id="portfolio">
    <div class="container">
        <div class="row">
            <div class="title text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                <h2>My Portfolio</h2>
                <p> Take a look at some of my awesome work</p>
            </div>
        </div>
        <!-- row end -->
        <div class="row">
            <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                <div class="text-center portfolio-filter">
                    <ul>
                        <li class="active-item" data-filter="*">All</li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- row end -->
        <!--portfolio items-->
        <div class="row work-items">
            <!--item-->
            <div class="item-box col-lg-4 col-md-4 col-sm-6 col-xs-12 web">
                <div class="single-item">
                    <div class="img-box img-box-overlay">
                        <img src="/img/portfolio/work16.png" alt="work16">
                        <div class="overlay-text text-center">
                            <a class="after-overlay" href="#">Awesome Work</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--item-->
            <div class="item-box col-lg-4 col-md-4 col-sm-6 col-xs-12 app">
                <div class="single-item">
                    <div class="img-box img-box-overlay">
                        <img src="/img/portfolio/work15.png" alt="work15">
                        <div class="overlay-text text-center">
                            <a class="after-overlay" href="#">Awesome Work</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--item-->
            <div class="item-box col-lg-4 col-md-4 col-sm-6 col-xs-12 illustrations">
                <div class="single-item">
                    <div class="img-box img-box-overlay">
                        <img src="/img/portfolio/work11.png" alt="work11">
                        <div class="overlay-text text-center">
                            <a class="after-overlay" href="#">Awesome Work</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--item-->
            <div class="item-box col-lg-4 col-md-4 col-sm-6 col-xs-12 web">
                <div class="single-item">
                    <div class="img-box img-box-overlay">
                        <img src="/img/portfolio/work14.png" alt="work14">
                        <div class="overlay-text text-center">
                            <a class="after-overlay" href="#">Awesome Work</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--item-->
            <div class="item-box col-lg-4 col-md-4 col-sm-6 col-xs-12 app">
                <div class="single-item">
                    <div class="img-box img-box-overlay">
                        <img src="/img/portfolio/work12.png" alt="work12">
                        <div class="overlay-text text-center">
                            <a class="after-overlay" href="#">Awesome Work</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--item-->
            <div class="item-box col-lg-4 col-md-4 col-sm-6 col-xs-12 app">
                <div class="single-item">
                    <div class="img-box img-box-overlay">
                        <img src="/img/portfolio/work13.png" alt="work13">
                        <div class="overlay-text text-center">
                            <a class="after-overlay" href="#">Awesome Work</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row end -->
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-style text-center wow fadeIn" data-wow-duration="2s">
                    <a href="#">All My Works</a>
                </div>
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
    <!-- works end -->
</div>
<!-- Portoflio end -->
<!-- About Start -->
<div id="about">
    <div class="container">
        <div class="row">
            <div class="title text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                <h2>About Me</h2>
                <p>I'm a highly passionate, inspired and motivated Web developer with a strong attitude and web development skills that loves to develop perfect solutions with agile methodologies, clean code and cutting edge technologies.</p>
            </div>
        </div>
        <!-- row end -->
        <div class="row">
            <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12">
                <div class="about-illustration">
                    <img class="img-responsive wow slideInLeft" data-wow-duration="2s" src="/img/bakar2.png" alt="bakar2">
                </div>
            </div>
            <div class="col-lg-7 col-md-5 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-info">
                    <h2>Hi There!!!</h2>
                    <p>My name is <strong>Wabomba Bakar</strong>, I'm really obsessed with developing websites and even I'm obsessed more with making websites look better. My specialty is full website strategy, design and development, making pixel perfect designs in Photoshop and Adobe Xd and then turning them to fully functional websites with semantic HTML5, CSS3 and JavaScript. My interests however extends beyond the web and I love helping people with branding and promoting their businesses. I'm always engaged in learning new skills to keep up with the industry standards and also loves to share my new skills with those interested and new in the web development community. I love connecting to people and making new friends. Feel free to connect with me on social media or send me an email to wabombabakar@gmail.com or call me on <strong>+256 785 351 645</strong> , I'm looking forward to know about you, thanks.
                    </p>
                    <div>
                        <a href="#">
                            <i class="fab fa-dribbble"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-behance"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
    <!-- partners start -->
    <div class="partners">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 wow fadeIn" data-wow-delay="0.1s">

                    <a href="https://www.facebook.com/wabomba.bakar">
                        <img class="partner-logo aligncenter img-responsive" src="/img/media/fb.png" alt="facebook">
                    </a>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 wow fadeIn" data-wow-delay="0.1s">
                    <a href="#">
                        <img class="partner-logo aligncenter img-responsive" src="/img/media/twitter.png" alt="twitter">
                    </a>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 wow fadeIn" data-wow-delay="0.1s">
                    <a href="#">
                        <img class="partner-logo aligncenter img-responsive" src="/img/media/github.png" alt="github">
                    </a>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 wow fadeIn" data-wow-delay="0.1s" alt="">
                    <a href="#">
                        <img class="partner-logo aligncenter img-responsive" src="/img/media/in.png" alt="linkedin">
                    </a>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 wow fadeIn" data-wow-delay="0.1s">
                    <a href="#">
                        <img class="partner-logo aligncenter img-responsive" src="/img/media/g+.png" alt="google+">
                    </a>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 wow fadeIn" data-wow-delay="0.1s">
                    <a href="https://www.youtube.com/channel/UCJ-3ngCJ8gBmo3hSr0e9ciQ">
                        <img class="partner-logo aligncenter img-responsive" src="/img/media/u.png" alt="utube">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- container end -->
</div>
</div>
<!-- partners end -->

<!-- About end -->
<!-- Contact start -->
<div class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="contac-title title text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                <h2>Feel free to contact me for anything</h2>
                <p>I am a people person.</p>
            </div>
        </div>
        <!-- row end -->
        <!-- form start -->
        <div class="row">
            {{#each errors}}
            <div class="alert lert-danger">{{text}}</div>
            {{else}} {{/each}}
            <div class="form-box col-xs-12 col-sm-9 col-md-9 col-lg-8 col-sm-offset-2 col-xs-offset-0 wow fadeIn" data-wow-delay="0.1s">
                <div id="form-messages"></div>
                <form id="contact-form" class="form" method="post" action="/">
                    <div class="field form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" tabindex="1" required>
                    </div>
                    <div class="field form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" tabindex="2" required>
                    </div>
                    <div class="field form-group">
                        <textarea rows="5" cols="50" name="message" class="form-control" id="message" placeholder="Message Here" tabindex="4" required></textarea>
                    </div>
                    <div class="field btn-style text-center" data-wow-duration="2s">
                        <button type="submit" id="button">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- row end -->
        <!-- form end -->
    </div>
    <!-- container end -->
</div>
<!-- Contact end -->
<!-- Footer start -->
<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                <div>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-dribbble"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-behance"></i>
                    </a>
                </div>
                <p> © 2018 - Wabomba Bakar</p>
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</footer>
<!-- Footer end -->