<!-- Preloader -->
<div class="Baker-preloader"></div>
<!-- Header Start -->
<header id="header">
    <nav class="navbar-default le-navbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button id="menu-nav-btn" type="button" class="mobile-menu-btn navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span></span>
                </button>
                <a class="logo" href="#header">
                    <img src="/img/logo/logo.svg" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="nav-btn" href="#header">home</a>
                    </li>
                    <li>
                        <a class="nav-btn" href="#services">service</a>
                    </li>
                    <li>
                        <a class="nav-btn" href="#portfolio">portfolio</a>
                    </li>
                    <li>
                        <a class="nav-btn" href="#about">about</a>
                    </li>
                    <li>
                        <a class="nav-btn" href="#contact">contact</a>
                    </li>
                    <li class="dropdown">
                        <ul class="dropdown-menu">
                            <li>
                                <a class="nav-btn" href="#">single work</a>
                            </li>
                            <li>
                                <a class="nav-btn" href="portfolio.html">portfolio</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- container end -->
    </nav>
    <!-- navbar end -->
    <div class="hero-area">
        <div class="container">
            <div class="row">
                <div class="hero-title col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <p class="response"></p>
                    <h3 class="wow slideInLeft" data-wow-duration="1s">Thank you for being party of my community, I'll do the best I can to help you in any way you like. 
                      </h3>
                    <p class="wow slideInLeft" data-wow-duration="1.5s">you can get me directly on +256 785-351-645 or email wabombabakar@gmail.com.
                      may God bless you in whatever you're doing.
                        </p>
                    <div class="btn-style wow slideInLeft" data-wow-duration="2s">
                        <a href="/">Go Back</a>
                    </div>
                </div>
                <div class="hero-img col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <img class="img-responsive wow slideInRight" data-wow-duration="1s" src="/img/hero-illustration1.svg" alt="illustration">

                    <img class="img-responsive wow slideInRight" data-wow-duration="2s" src="/img/bakar2.png">
                    <img class="img-responsive wow slideInRight" data-wow-duration="1.5s" src="/img/hero-illustration2.svg" alt="illustration">
                </div>
            </div>
            <!-- row-end -->
        </div>
        <!-- container-end -->
    </div>
    <!-- hero-area end -->
</header>
<!-- Header End -->


